doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    title Petite-Vue
    body
      h2 Petite-Vue Counter
      template#counter-template My count is {{ count }}
        button(@click="inc") ++
      div(@mounted="console.log('mounted on: ', $el)" v-scope="Counter({ initialCount: 1 })")
      div(@mounted="console.log('mounted on: ', $el)" v-scope="Counter({ initialCount: 2 })")
        div(@mounted="console.log('mounted on: ', $el)" v-scope="") 
      script(src="../axios.min.js")
      script(src="../petite-vue.js")
      script(src="../vue.js" defer init)
